/node_modules
/public/img
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.DS_Store
.github
build
xdebug-filter.php
